<!-- form for users to enter names and start game -->

<form method='post' action='/'>
  <input type="text" name="player_1" placeholder="Player One" autofocus="autofocus">
  <input type="text" name="player_2" placeholder="Player Two">
  <input type="submit" value="Race!">
</form>
