<!-- displays winning player, winning time, and a button to play again -->
<!-- rematch button, or play with new players -->
<!-- option to save the url of the game -->

  <h3 class="game_number">Results for game #<%= @game.id %>!</h3>

  <h2 class="win_announcement"><%= @winner.name %> won!</h2>

  <ul>
    <li><a href="#">Rematch</a></li>
    <li><a href="/">New Players</a></li>
  </ul>